mat-card {
  min-width: min-content;
  margin: auto;
  padding: 1em;
  background: #e9e3d5c7;
}

mat-card-title {
  font-size: 1em;
  padding-top: 0.5em;
}

.heroNames {
  color: #1a4a92;
  font-weight: lighter;
}
