@if (!!missionsPlusAssignments.length) {
  <mat-card>
    @for (mission of missionsPlusAssignments; track mission; let lastItem = $last) {
      <div>
        <mat-card-title>{{ mission.title }}</mat-card-title>
        <app-action-button [enabled]="canAssignHero(mission)" [routerLink]="['/assignments', mission.id]"
        class="floatRight">Assign</app-action-button>
        <mat-card-content>
          {{ mission.description }}
          @if (!!mission.assignedHeroes.length) {
            <span class="heroNames">
              <br /> <br /> {{ mission.assignedHeroes.join(', ') }}
            </span>
          }
        </mat-card-content>
        @if (!lastItem) {
          <mat-divider></mat-divider>
        }
      </div>
    }
  </mat-card>
}