<mat-card *ngIf="!!missionsPlusAssignments.length">
    <div *ngFor="let mission of missionsPlusAssignments; let lastItem = last">
        <mat-card-title>{{ mission.title }}</mat-card-title>

        <app-action-button [enabled]="canAssignHero(mission)" [routerLink]="['/assignments', mission.id]"
            class="floatRight">Assign</app-action-button>

        <mat-card-content>
            {{ mission.description }}
            <span class="heroNames" *ngIf="!!mission.assignedHeroes.length">
                <br /> <br /> {{ mission.assignedHeroes.join(', ') }}
            </span>
        </mat-card-content>
        <mat-divider *ngIf="!lastItem"></mat-divider>
    </div>
</mat-card>