:host {
  display: inline-block;
  width: 100%;
  text-shadow: 2px 2px 3px #000;
  margin-top: 0.6em;
}

ul {
  list-style-type: none;
  display: inline;
  padding-left: 0;

  li {
    display: inline;
  }
}
