:host {
  background-image: url("../../../assets/images/castle full.png");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

app-castle-menu {
  position: absolute;
  top: 61%;
  left: 57%;
}
