<h1>Mission: {{ (mission$ | async)?.title }}</h1>
<mat-card *ngIf="!!heroes.length">
    <div *ngFor="let hero of heroes; let lastItem = last">
        <mat-card-title>{{ hero.name }}</mat-card-title>
        <mat-card-subtitle>LVL {{ hero.level }} | C {{ hero.combat }} | T {{ hero.tactics }} | V
            {{ hero.valor }}
        </mat-card-subtitle>

        <app-action-button [ngClass]="{ 'warn': !!hero.assignment }" *ngIf="hero.assignment !== mission.id"
            (click)="assignHeroToMission(hero)" class="assign">
            Assign
        </app-action-button>
        <app-action-button *ngIf="hero.assignment === mission.id" (click)="unassignHeroFromMission(hero)"
            class="assign">
            Unassign
        </app-action-button>

        <mat-card-content>
            Awesome!
        </mat-card-content>
        <mat-divider *ngIf="!lastItem"></mat-divider>
    </div>
</mat-card>

<!-- TODO: This scrolls up with a lot of heroes -->
<app-action-button class="exit" routerLink="/missions">Done</app-action-button>