<mat-toolbar color="primary" fixedInViewport>
  <div class="center">
    <button type="button" aria-label="Heroes" mat-icon-button routerLink="/heroes" routerLinkActive="active">
      <mat-icon>people_outline</mat-icon>
    </button>
    <button type="button" aria-label="Missions" mat-icon-button routerLink="/missions" routerLinkActive="active">
      <mat-icon>emoji_flags</mat-icon>
    </button>
    <button type="button" aria-label="Adventure" mat-icon-button routerLink="/adventure" routerLinkActive="active">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</mat-toolbar>