@if (screenType === 'assign') {
  <h1>Mission: {{ (mission$ | async)?.title }}</h1>
}
@if (!!heroes.length) {
  <mat-card>
    @for (hero of heroes; track hero; let lastItem = $last) {
      <mat-card-title>{{ hero.name }}</mat-card-title>
      <mat-card-subtitle>Level {{ hero.level }}
        @if (!!hero.assignment) {
          <span> | Assignment: {{ hero.assignment }}</span>
        }
      </mat-card-subtitle>
      @if (screenType === 'assign') {
        @if (hero.assignment !== mission.id) {
          <app-action-button [ngClass]="{ 'warn': !!hero.assignment }"
            (click)="assignHeroToMission(hero)" class="floatRight">
            Assign
          </app-action-button>
        }
        @if (hero.assignment === mission.id) {
          <app-action-button (click)="unassignHeroFromMission(hero)"
            class="floatRight">
            Unassign
          </app-action-button>
        }
      }
      @if (screenType === 'recruit') {
        <app-action-button (click)="canHireHero(hero.hiringFee) && recruit(hero)"
          [enabled]="canHireHero(hero.hiringFee)" class="floatRight">Hire:
          {{hero.hiringFee}}
        </app-action-button>
      }
      <mat-card-content>
        Combat {{ hero.combat }}<br />
        Tactics {{ hero.tactics }}<br />
        Valor {{ hero.valor }}<br />
        Mission fee {{ hero.missionFee }}
      </mat-card-content>
      @if (!lastItem) {
        <mat-divider></mat-divider>
      }
    }
  </mat-card>
}

@if (!heroes.length && screenType === 'main') {
  <app-action-button class="fixedBottomRight" routerLink="/tavern">
    Hire heroes
  </app-action-button>
}
@if (screenType === 'assign') {
  <app-action-button class="fixedBottomRight" routerLink="/missions">Done
  </app-action-button>
}