html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #ddd;
}

h1 {
  color: #ddd;
  font-size: 1.1em;
  font-weight: normal;
  text-shadow: 2px 2px 2px #000000;
}