html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: #ddd;
}

h1 {
  color: #ddd;
  font-size: 1.1em;
  font-weight: normal;
  text-shadow: 2px 2px 2px #000000;
}

.container > * {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.fixedBottomRight {
  position: fixed;
  right: 15px;
  bottom: 0;
}

app-action-button.mat-raised-button {
  margin: 6px;
}

.floatRight {
  float: right;
  margin-top: -1em !important;
}
